name: Compile LaTeX to PDF

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up TeXLive
        run: sudo apt-get install -y texlive-full

      - name: Compile LaTeX document
        run: |
          mkdir output
          pdflatex -interaction=nonstopmode -output-directory=output main.tex

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
