name: Build LaTeX document

on:
  push:
    branches:
      - main  # Change this to your default branch
  pull_request:
    branches:
      - main  # Change this to your default branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up LaTeX
      uses: xu-cheng/latex-action@v2
      with:
        root_file: main.tex

    - name: Compile LaTeX document
      run: latexmk -pdf -interaction=nonstopmode -file-line-error main.tex

    - name: Move PDF to root
      run: mv main.pdf main.pdf

    - name: Commit and push the PDF
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add main.pdf
        git commit -m 'Update PDF'
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
